# URL da API que o app irá consumir (para futuros projetos, pode ser deixado em branco)
VITE_API_URL=

# Token de API para autenticação (para futuros projetos, pode ser deixado em branco)
VITE_API_TOKEN=

# Nome do site que será exibido no título 
VITE_SITE_NAME=

# Ambiente da aplicação (development ou production)
VITE_ENVIRONMENT=

# Quantidade mínima de tarefas para preenchimento automático
VITE_MINIMO_TAREFAS=3

# Habilita o preenchimento automático de tarefas fakes
VITE_ENABLE_FAKE_TODOS=true