* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f4f6f8;
  color: #333;
  display: flex;
  justify-content: center;
}

.app {
  background: #ffffff;
  padding: 2rem;
  border-radius: 16px;
  width: 100%;
  /* max-width: 1000px; */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo {
  width: 80px;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: #2c3e50;
}

h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #444;
}

button {
  background-color: #646cff;
  color: white;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover {
  background-color: #4b5ac7;
}

.todo-form {
  margin: auto;
}
/* Para deixar sua lista e formulário mais bonitos também */
.todo-form,
.todo-list {
  margin-top: 1rem;
  text-align: left;
}

/* .todo-item {
  background: #f9f9f9;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.2s;
}

.todo-item:hover {
  background: #ececec;
} */

.filtro-select {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
  font-size: 1rem;
}

.filtro-select select {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  /* background-color: #171515; */
  cursor: pointer;
  transition: border-color 0.2s;
}

.filtro-select select:focus {
  border-color: #646cff;
  outline: none;
}

.contador {
  text-align: center;
  margin-top: 0.75rem;
  color: #555;
}
